table.board, td.cell
{
	border: 1px solid black;
}

table
{
	border-collapse: collapse;
}

td.red
{
	background-color: red;
}

td.blue
{
	background-color: blue;
}

td.blank
{
}

.command
{
	width: 80px;
}

h2 
{ 
	padding-top: 14px;
}